- if results.length > 0
  %h1
    = results.length
    Words Found:
  %p.results
    = results.join(', ')
- else
  %h1 Nothin' Found!
#main
  =haml :form
#sidebar
  %h2
    Letters tried:
    = letters.join(" ").upcase
  %h2
    Pattern:
    = pattern.join(" ").upcase

  #permutations{:style => 'display: none;'}
    %h2 Permutations considered:
    = permutations.join(', ')

